CTEQ/ManeParse5_Demo/PDFDIR/LHA/CT10/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/MSTW2008lo68cl/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/NNPDF30_nlo_as_0118/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15-LH6.tar.gz
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15FullNuc.tar.gz
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15FullNuc_108_54/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15FullNuc_119_59/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15FullNuc_12_6/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15FullNuc_131_54/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15FullNuc_14_7/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15FullNuc_184_74/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15FullNuc_197_79/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15FullNuc_197_98/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15FullNuc_207_103/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15FullNuc_208_82/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15FullNuc_20_10/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15FullNuc_27_13/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15FullNuc_3_2/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15FullNuc_40_18/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15FullNuc_40_20/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15FullNuc_4_2/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15FullNuc_56_26/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15FullNuc_64_32/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15FullNuc_6_3/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15FullNuc_7_3/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15FullNuc_84_42/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15FullNuc_9_4/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15_119/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15_12/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15_131/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15_14/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15_184/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15_197/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15_20/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15_207/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15_208/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15_27/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15_3/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15_4/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15_40/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15_56/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15_6/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15_64/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15_7/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15_84/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15_9/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15np-LH6.tar.gz
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15npFullNuc.tar.gz
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15npFullNuc_108_54/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15npFullNuc_119_59/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15npFullNuc_12_6/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15npFullNuc_131_54/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15npFullNuc_14_7/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15npFullNuc_184_74/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15npFullNuc_197_79/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15npFullNuc_197_98/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15npFullNuc_207_103/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15npFullNuc_208_82/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15npFullNuc_20_10/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15npFullNuc_27_13/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15npFullNuc_3_2/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15npFullNuc_40_18/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15npFullNuc_40_20/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15npFullNuc_4_2/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15npFullNuc_56_26/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15npFullNuc_64_32/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15npFullNuc_6_3/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15npFullNuc_7_3/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15npFullNuc_84_42/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15npFullNuc_9_4/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15np_119/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15np_12/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15np_131/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15np_14/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15np_184/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15np_197/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15np_20/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15np_207/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15np_208/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15np_27/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15np_3/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15np_4/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15np_40/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15np_56/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15np_6/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15np_64/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15np_7/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15np_84/
CTEQ/ManeParse5_Demo/PDFDIR/LHA/nCTEQ15np_9/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/ct10.pds/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/ctq66m.pds/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQ15-Al-27/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQ15-Ar-40/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQ15-Au-197/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQ15-Be-9/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQ15-C-12/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQ15-Ca-40/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQ15-Cu-64/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQ15-Fe-56/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQ15-He-3/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQ15-He-4/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQ15-Kr-84/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQ15-Li-6/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQ15-Li-7/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQ15-N-14/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQ15-Ne-20/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQ15-Pb-207/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQ15-Pb-208/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQ15-Sn-119/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQ15-W-184/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQ15-Xe-131/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQ15.tar.gz
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQ15np.tar.gz
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQnp-Al-27/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQnp-Ar-40/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQnp-Au-197/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQnp-Be-9/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQnp-C-12/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQnp-Ca-40/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQnp-Cu-64/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQnp-Fe-56/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQnp-He-3/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQnp-He-4/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQnp-Kr-84/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQnp-Li-6/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQnp-Li-7/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQnp-N-14/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQnp-Ne-20/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQnp-Pb-207/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQnp-Pb-208/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQnp-Sn-119/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQnp-W-184/
CTEQ/ManeParse5_Demo/PDFDIR/PDS/nCTEQnp-Xe-131/

